body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);

  background-color: var(--clr-white);
  color: var(--clr-gray);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

header {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1600px;

  ul {
    padding: 0;
  }

  @media screen {
    @media (width >= 1440px) {
      width: 90%;
    }
  }
}

.card {
  padding: 1rem;
  box-shadow: 0 0 8px var(--clr-gray);
  border-radius: 8px;

  .card-img {
    width: 100%;
    object-fit: contain;
    max-height: 228px;
    // margin-top: 32px;
  }

  .card-content {}

  .card-footer {}

}