.browse-brands {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-inline: auto;
  margin-bottom: 5rem;
  gap: 2.625rem;

  .brand {
    width: 211px;
    height: 211px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5.5rem 3rem;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
    }

  }
}