.categories-display {
  width: 100%;
  // max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.625rem;
  flex-wrap: wrap;
  color: var(--clr-black);
  margin: 2.43rem auto;
  margin-bottom: 5.625rem;

  .category {
    width: 128px;
    height: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1.25rem;
    background-color: #fff;

    .card {
      padding: 2rem;
      box-shadow: 0 0 8px var(--clr-gray);
      border-radius: 8px;
      background-color: var(--clr-card-bg);

      &-selected {
        color: var(--clr-blue);
        background-color: var(--clr-white);
      }
    }

    p {
      margin: 0;
      text-transform: capitalize;
      font-size: var(--fs-300);
    }

    &:hover,
    &:focus {
      color: var(--clr-blue);
      font-weight: var(--fw-semibold);
      background-color: var(--clr-white);
    }
  }
}